<hopi-header (backLinkCallback)="backLink()"></hopi-header>

<div class="row row-cols-1 row-cols-md-2" *ngIf="!isLoading && !isEmpty">
  <div class="col">
    <hopi-carousel [images]="house?.attributes?.field_inmu_imag_arra | separatorImagesPdf: 'images'"></hopi-carousel>
  </div>
  <div class="col align-self-center">
    <hopi-card-detail [house]="house"></hopi-card-detail>
  </div>
</div>

<hopi-loading *ngIf="isLoading"></hopi-loading>

<ng-container *ngIf="!isLoading && isEmpty">
  <h4 class="text-center">
    No se ha encontrado resultados con la referencia {{ ref }}
  </h4>
</ng-container>
