@import './../../../scss/variables';

.header {
  width: 100%;
  height: $hHeader;
  vertical-align: middle;
  box-sizing: content-box;
  color: $cHeader;
  background-color: $bHeader;
  margin-bottom: 1em;
  position: relative;

  .back-btn {
    position: absolute;
    top: calc(50% - 12px);
    left: 2em;
  }
}
